In [1]:
import pandas as pd
import numpy as np

In [2]:
sensor_data = pd.read_csv('~/PycharmProjects/ML-Project/GenerateData/sensorData/sensor_data.csv')

In [3]:
sensor_data

,Time,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,VoltageSensor,CamshaftPosition
0,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,11.497810,357.742705
1,1,88.832327,60.297278,5,96.544692,6.476938,81.555006,-0.584690,2.623400,12.714626,359.237069
2,2,90.548790,51.474838,5,85.793646,58.497979,113.289289,0.110571,-0.959462,14.040610,5.191222
3,3,86.756911,35.206521,3,86.310444,77.498249,97.399784,1.252426,1.603390,13.637505,5.862970
4,4,90.106142,27.012264,8,88.455254,50.303076,95.120143,-2.804363,-2.610716,13.186636,0.707732
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,87.718888,45.248076,5,89.863420,81.975949,116.658213,0.914709,-0.393220,11.099219,273.520375
9996,9996,87.501622,66.111435,8,87.138987,8.361893,113.036373,-0.302714,-1.388376,13.911861,275.913459
9997,9997,91.280958,38.054916,8,87.989679,69.186800,118.988942,1.050545,-1.289474,10.828917,278.859446
9998,9998,92.576612,37.945161,6,89.140857,34.001198,103.203071,0.151717,2.534431,11.821765,274.399061
9999,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,11.725393,278.545607

In [4]:
telematics_data = pd.read_csv('~/PycharmProjects/ML-Project/GenerateData/telematicsData/telematics_data_random_route.csv')

In [5]:
telematics_data

      Time                      GPS  Speed(km/hr)  Acceleration
0        0   (-1.286389, 36.817223)      5.000000      0.000000
1        1    (0.326729, 36.367464)      0.000000     -5.000000
2        2    (1.994921, 36.567686)      0.000000     -0.268499
3        3    (2.760388, 35.934676)      0.000000     -4.082528
4        4    (2.156461, 36.766943)      0.000000     -0.587396
...    ...                      ...           ...           ...
9995  9995  (-51.529496, 30.545795)     99.985973     -0.014027
9996  9996    (50.03215, 42.140232)     99.998398      0.012424
9997  9997  (-49.678949, 34.547154)    100.000000      1.082772
9998  9998   (49.945313, 38.496054)    100.000000      1.290056
9999  9999  (-52.565877, 33.617976)     98.291723     -1.708277

[10000 rows x 4 columns]

In [6]:
maintenance_data = pd.read_csv('~/PycharmProjects/ML-Project/GenerateData/maintenanceRecords/maintenance_data.csv')

In [7]:
maintenance_data

,VehicleID,Timestamp,MaintenanceType,MaintenanceCategory,MaintenanceFrequency,MaintenanceSeverity,MaintenanceDate,MaintenanceCost(Ksh),MaintenanceInterval,EventMileage
0,1,2022-12-23 15:54:26,Brake Replacement,Repairs,As needed,High,2023-02-15 08:09:57.873,23126.38,157 days,14972
1,1,2022-12-23 15:54:26,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-02-04 20:14:51.874,24347.47,164 days,112862
2,1,2022-12-23 15:54:26,Air Filter Replacement,Schedules,Every 6 months,Low,2023-07-19 23:00:38.874,12329.11,50 days,184034
3,1,2022-12-23 15:54:26,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-08-19 15:28:06.874,51969.62,233 days,195487
4,2,2023-06-18 11:53:31,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-06 15:23:34.874,23153.12,203 days,38907
...,...,...,...,...,...,...,...,...,...,...
39995,9999,2023-05-23 20:22:33,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-02 07:30:13.267,28420.58,110 days,204339
39996,10000,2022-12-09 23:35:38,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-05-18 09:26:54.267,25186.08,190 days,50964
39997,10000,2022-12-09 23:35:38,Brake Replacement,Repairs,As needed,High,2023-05-08 11:05:08.267,9666.67,185 days,128343
39998,10000,2022-12-09 23:35:38,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2022-11-29 09:07:50.267,11220.77,312 days,195133
39999,10000,2022-12-09 23:35:38,Air Filter Replacement,Schedules,Every 6 months,Low,2023-10-28 09:54:21.267,40832.19,270 days,244183

In [8]:
sensor_data['VehicleID'] = range(1, len(sensor_data) + 1)

In [9]:
sensor_data

,Time,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,VoltageSensor,CamshaftPosition,VehicleID
0,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,11.497810,357.742705,1
1,1,88.832327,60.297278,5,96.544692,6.476938,81.555006,-0.584690,2.623400,12.714626,359.237069,2
2,2,90.548790,51.474838,5,85.793646,58.497979,113.289289,0.110571,-0.959462,14.040610,5.191222,3
3,3,86.756911,35.206521,3,86.310444,77.498249,97.399784,1.252426,1.603390,13.637505,5.862970,4
4,4,90.106142,27.012264,8,88.455254,50.303076,95.120143,-2.804363,-2.610716,13.186636,0.707732,5
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,87.718888,45.248076,5,89.863420,81.975949,116.658213,0.914709,-0.393220,11.099219,273.520375,9996
9996,9996,87.501622,66.111435,8,87.138987,8.361893,113.036373,-0.302714,-1.388376,13.911861,275.913459,9997
9997,9997,91.280958,38.054916,8,87.989679,69.186800,118.988942,1.050545,-1.289474,10.828917,278.859446,9998
9998,9998,92.576612,37.945161,6,89.140857,34.001198,103.203071,0.151717,2.534431,11.821765,274.399061,9999
9999,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,11.725393,278.545607,10000

In [10]:
sensor_data = sensor_data[['VehicleID'] + [col for col in sensor_data.columns if col != 'VehicleID']]

In [11]:
sensor_data

,VehicleID,Time,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,VoltageSensor,CamshaftPosition
0,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,11.497810,357.742705
1,2,1,88.832327,60.297278,5,96.544692,6.476938,81.555006,-0.584690,2.623400,12.714626,359.237069
2,3,2,90.548790,51.474838,5,85.793646,58.497979,113.289289,0.110571,-0.959462,14.040610,5.191222
3,4,3,86.756911,35.206521,3,86.310444,77.498249,97.399784,1.252426,1.603390,13.637505,5.862970
4,5,4,90.106142,27.012264,8,88.455254,50.303076,95.120143,-2.804363,-2.610716,13.186636,0.707732
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,87.718888,45.248076,5,89.863420,81.975949,116.658213,0.914709,-0.393220,11.099219,273.520375
9996,9997,9996,87.501622,66.111435,8,87.138987,8.361893,113.036373,-0.302714,-1.388376,13.911861,275.913459
9997,9998,9997,91.280958,38.054916,8,87.989679,69.186800,118.988942,1.050545,-1.289474,10.828917,278.859446
9998,9999,9998,92.576612,37.945161,6,89.140857,34.001198,103.203071,0.151717,2.534431,11.821765,274.399061
9999,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,11.725393,278.545607

In [12]:
telematics_data['VehicleID'] = range(1, len(telematics_data) + 1)

In [13]:
telematics_data

      Time                      GPS  Speed(km/hr)  Acceleration  VehicleID
0        0   (-1.286389, 36.817223)      5.000000      0.000000          1
1        1    (0.326729, 36.367464)      0.000000     -5.000000          2
2        2    (1.994921, 36.567686)      0.000000     -0.268499          3
3        3    (2.760388, 35.934676)      0.000000     -4.082528          4
4        4    (2.156461, 36.766943)      0.000000     -0.587396          5
...    ...                      ...           ...           ...        ...
9995  9995  (-51.529496, 30.545795)     99.985973     -0.014027       9996
9996  9996    (50.03215, 42.140232)     99.998398      0.012424       9997
9997  9997  (-49.678949, 34.547154)    100.000000      1.082772       9998
9998  9998   (49.945313, 38.496054)    100.000000      1.290056       9999
9999  9999  (-52.565877, 33.617976)     98.291723     -1.708277      10000

[10000 rows x 5 columns]

In [14]:
telematics_data = telematics_data[['VehicleID'] + [col for col in telematics_data.columns if col != 'VehicleID']]

In [15]:
telematics_data

      VehicleID  Time                      GPS  Speed(km/hr)  Acceleration
0             1     0   (-1.286389, 36.817223)      5.000000      0.000000
1             2     1    (0.326729, 36.367464)      0.000000     -5.000000
2             3     2    (1.994921, 36.567686)      0.000000     -0.268499
3             4     3    (2.760388, 35.934676)      0.000000     -4.082528
4             5     4    (2.156461, 36.766943)      0.000000     -0.587396
...         ...   ...                      ...           ...           ...
9995       9996  9995  (-51.529496, 30.545795)     99.985973     -0.014027
9996       9997  9996    (50.03215, 42.140232)     99.998398      0.012424
9997       9998  9997  (-49.678949, 34.547154)    100.000000      1.082772
9998       9999  9998   (49.945313, 38.496054)    100.000000      1.290056
9999      10000  9999  (-52.565877, 33.617976)     98.291723     -1.708277

[10000 rows x 5 columns]

In [16]:
combinedd_data = pd.merge(sensor_data, telematics_data, on='VehicleID', how='inner')

In [17]:
combinedd_data

,VehicleID,Time_x,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,VoltageSensor,CamshaftPosition,Time_y,GPS,Speed(km/hr),Acceleration
0,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,11.497810,357.742705,0,"(-1.286389, 36.817223)",5.000000,0.000000
1,2,1,88.832327,60.297278,5,96.544692,6.476938,81.555006,-0.584690,2.623400,12.714626,359.237069,1,"(0.326729, 36.367464)",0.000000,-5.000000
2,3,2,90.548790,51.474838,5,85.793646,58.497979,113.289289,0.110571,-0.959462,14.040610,5.191222,2,"(1.994921, 36.567686)",0.000000,-0.268499
3,4,3,86.756911,35.206521,3,86.310444,77.498249,97.399784,1.252426,1.603390,13.637505,5.862970,3,"(2.760388, 35.934676)",0.000000,-4.082528
4,5,4,90.106142,27.012264,8,88.455254,50.303076,95.120143,-2.804363,-2.610716,13.186636,0.707732,4,"(2.156461, 36.766943)",0.000000,-0.587396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,87.718888,45.248076,5,89.863420,81.975949,116.658213,0.914709,-0.393220,11.099219,273.520375,9995,"(-51.529496, 30.545795)",99.985973,-0.014027
9996,9997,9996,87.501622,66.111435,8,87.138987,8.361893,113.036373,-0.302714,-1.388376,13.911861,275.913459,9996,"(50.03215, 42.140232)",99.998398,0.012424
9997,9998,9997,91.280958,38.054916,8,87.989679,69.186800,118.988942,1.050545,-1.289474,10.828917,278.859446,9997,"(-49.678949, 34.547154)",100.000000,1.082772
9998,9999,9998,92.576612,37.945161,6,89.140857,34.001198,103.203071,0.151717,2.534431,11.821765,274.399061,9998,"(49.945313, 38.496054)",100.000000,1.290056
9999,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,11.725393,278.545607,9999,"(-52.565877, 33.617976)",98.291723,-1.708277

In [18]:
combinedd_data = pd.merge(combinedd_data, maintenance_data, on='VehicleID', how='inner')

In [19]:
combinedd_data

,VehicleID,Time_x,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,...,Acceleration,Timestamp,MaintenanceType,MaintenanceCategory,MaintenanceFrequency,MaintenanceSeverity,MaintenanceDate,MaintenanceCost(Ksh),MaintenanceInterval,EventMileage
0,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Brake Replacement,Repairs,As needed,High,2023-02-15 08:09:57.873,23126.38,157 days,14972
1,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-02-04 20:14:51.874,24347.47,164 days,112862
2,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Air Filter Replacement,Schedules,Every 6 months,Low,2023-07-19 23:00:38.874,12329.11,50 days,184034
3,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-08-19 15:28:06.874,51969.62,233 days,195487
4,2,1,88.832327,60.297278,5,96.544692,6.476938,81.555006,-0.584690,2.623400,...,-5.000000,2023-06-18 11:53:31,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-06 15:23:34.874,23153.12,203 days,38907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,9999,9998,92.576612,37.945161,6,89.140857,34.001198,103.203071,0.151717,2.534431,...,1.290056,2023-05-23 20:22:33,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-02 07:30:13.267,28420.58,110 days,204339
39996,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-05-18 09:26:54.267,25186.08,190 days,50964
39997,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Brake Replacement,Repairs,As needed,High,2023-05-08 11:05:08.267,9666.67,185 days,128343
39998,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2022-11-29 09:07:50.267,11220.77,312 days,195133
39999,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Air Filter Replacement,Schedules,Every 6 months,Low,2023-10-28 09:54:21.267,40832.19,270 days,244183

In [20]:
combinedd_data.describe()

,VehicleID,Time_x,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,VoltageSensor,CamshaftPosition,Time_y,Speed(km/hr),Acceleration,MaintenanceCost(Ksh),EventMileage
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,5000.500000,4999.500000,89.968837,44.982574,4.979300,90.039889,50.448153,99.913455,0.202375,0.492658,11.985689,178.867926,4999.500000,90.713878,0.211974,32428.700317,131108.690250
std,2886.787417,2886.787417,2.128487,14.359802,2.209523,2.128112,29.094622,11.618891,1.998953,2.022177,1.975791,103.575443,2886.787417,11.859899,1.996886,15844.165504,73119.412168
min,1.000000,0.000000,81.801873,20.015546,0.000000,81.114456,0.002022,80.004973,-7.419088,-7.448734,2.736508,0.035044,0.000000,0.000000,-7.820904,5000.750000,5009.000000
25%,2500.750000,2499.750000,88.538191,32.581536,3.000000,88.599527,25.198783,89.901494,-1.138420,-0.919501,10.653052,89.467043,2499.750000,87.282755,-1.113664,18699.160000,73828.250000
50%,5000.500000,4999.500000,89.957561,45.022634,5.000000,90.026386,50.816656,99.803335,0.226113,0.484561,11.993308,178.462265,4999.500000,94.308772,0.228682,32351.975000,124987.500000
75%,7500.250000,7499.250000,91.398353,57.364276,6.000000,91.460051,76.105174,110.128820,1.549990,1.872268,13.348139,267.824885,7499.250000,98.498408,1.538821,46179.027500,182718.500000
max,10000.000000,9999.000000,97.958232,69.999056,15.000000,97.651545,99.987128,119.997657,8.587148,8.640658,19.647107,359.981281,9999.000000,100.000000,8.121851,59999.140000,384245.000000

In [21]:
combinedd_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40000 entries, 0 to 39999
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   VehicleID             40000 non-null  int64
 1   Time_x                40000 non-null  int64
 2   Temperature           40000 non-null  float64
 3   Speed                 40000 non-null  float64
 4   EngineKnock           40000 non-null  int64
 5   CoolantTemp           40000 non-null  float64
 6   ThrottlePosition      40000 non-null  float64
 7   MAPSensor             40000 non-null  float64
 8   OxygenSensor          40000 non-null  float64
 9   RainSensor            40000 non-null  float64
 10  VoltageSensor         40000 non-null  float64
 11  CamshaftPosition      40000 non-null  float64
 12  Time_y                40000 non-null  int64
 13  GPS                   40000 non-null  object
 14  Speed(km/hr)          40000 non-null  float64
 15  Acceleration          40000 non-null  float64
 16  Timestamp             40000 non-null  object
 17  MaintenanceType       40000 non-null  object
 18  MaintenanceCategory   40000 non-null  object
 19  MaintenanceFrequency  40000 non-null  object
 20  MaintenanceSeverity   40000 non-null  object
 21  MaintenanceDate       40000 non-null  object
 22  MaintenanceCost(Ksh)  40000 non-null  float64
 23  MaintenanceInterval   40000 non-null  object
 24  EventMileage          40000 non-null  int64
dtypes: float64(12), int64(5), object(8)
memory usage: 7.9+ MB

In [22]:
combinedd_data

,VehicleID,Time_x,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,...,Acceleration,Timestamp,MaintenanceType,MaintenanceCategory,MaintenanceFrequency,MaintenanceSeverity,MaintenanceDate,MaintenanceCost(Ksh),MaintenanceInterval,EventMileage
0,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Brake Replacement,Repairs,As needed,High,2023-02-15 08:09:57.873,23126.38,157 days,14972
1,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-02-04 20:14:51.874,24347.47,164 days,112862
2,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Air Filter Replacement,Schedules,Every 6 months,Low,2023-07-19 23:00:38.874,12329.11,50 days,184034
3,1,0,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,0.000000,2022-12-23 15:54:26,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-08-19 15:28:06.874,51969.62,233 days,195487
4,2,1,88.832327,60.297278,5,96.544692,6.476938,81.555006,-0.584690,2.623400,...,-5.000000,2023-06-18 11:53:31,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-06 15:23:34.874,23153.12,203 days,38907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,9999,9998,92.576612,37.945161,6,89.140857,34.001198,103.203071,0.151717,2.534431,...,1.290056,2023-05-23 20:22:33,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-02 07:30:13.267,28420.58,110 days,204339
39996,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-05-18 09:26:54.267,25186.08,190 days,50964
39997,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Brake Replacement,Repairs,As needed,High,2023-05-08 11:05:08.267,9666.67,185 days,128343
39998,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2022-11-29 09:07:50.267,11220.77,312 days,195133
39999,10000,9999,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,-1.708277,2022-12-09 23:35:38,Air Filter Replacement,Schedules,Every 6 months,Low,2023-10-28 09:54:21.267,40832.19,270 days,244183

In [23]:
combinedd_data = combinedd_data.drop(['Time_x', 'Time_y'], axis=1)

In [24]:
combinedd_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40000 entries, 0 to 39999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   VehicleID             40000 non-null  int64
 1   Temperature           40000 non-null  float64
 2   Speed                 40000 non-null  float64
 3   EngineKnock           40000 non-null  int64
 4   CoolantTemp           40000 non-null  float64
 5   ThrottlePosition      40000 non-null  float64
 6   MAPSensor             40000 non-null  float64
 7   OxygenSensor          40000 non-null  float64
 8   RainSensor            40000 non-null  float64
 9   VoltageSensor         40000 non-null  float64
 10  CamshaftPosition      40000 non-null  float64
 11  GPS                   40000 non-null  object
 12  Speed(km/hr)          40000 non-null  float64
 13  Acceleration          40000 non-null  float64
 14  Timestamp             40000 non-null  object
 15  MaintenanceType       40000 non-null  object
 16  MaintenanceCategory   40000 non-null  object
 17  MaintenanceFrequency  40000 non-null  object
 18  MaintenanceSeverity   40000 non-null  object
 19  MaintenanceDate       40000 non-null  object
 20  MaintenanceCost(Ksh)  40000 non-null  float64
 21  MaintenanceInterval   40000 non-null  object
 22  EventMileage          40000 non-null  int64
dtypes: float64(12), int64(3), object(8)
memory usage: 7.3+ MB

In [25]:
col = combinedd_data.pop('Timestamp')
combinedd_data.insert(1, col.name, col)

In [26]:
combinedd_data

,VehicleID,Timestamp,Temperature,Speed,EngineKnock,CoolantTemp,ThrottlePosition,MAPSensor,OxygenSensor,RainSensor,...,Speed(km/hr),Acceleration,MaintenanceType,MaintenanceCategory,MaintenanceFrequency,MaintenanceSeverity,MaintenanceDate,MaintenanceCost(Ksh),MaintenanceInterval,EventMileage
0,1,2022-12-23 15:54:26,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,5.000000,0.000000,Brake Replacement,Repairs,As needed,High,2023-02-15 08:09:57.873,23126.38,157 days,14972
1,1,2022-12-23 15:54:26,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,5.000000,0.000000,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-02-04 20:14:51.874,24347.47,164 days,112862
2,1,2022-12-23 15:54:26,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,5.000000,0.000000,Air Filter Replacement,Schedules,Every 6 months,Low,2023-07-19 23:00:38.874,12329.11,50 days,184034
3,1,2022-12-23 15:54:26,88.461143,28.331791,7,87.243017,50.813364,103.461988,-0.004333,0.914245,...,5.000000,0.000000,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-08-19 15:28:06.874,51969.62,233 days,195487
4,2,2023-06-18 11:53:31,88.832327,60.297278,5,96.544692,6.476938,81.555006,-0.584690,2.623400,...,0.000000,-5.000000,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-06 15:23:34.874,23153.12,203 days,38907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,9999,2023-05-23 20:22:33,92.576612,37.945161,6,89.140857,34.001198,103.203071,0.151717,2.534431,...,100.000000,1.290056,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2023-10-02 07:30:13.267,28420.58,110 days,204339
39996,10000,2022-12-09 23:35:38,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,98.291723,-1.708277,Oil Change,Routine Maintenance,Every 3 months,Moderate,2023-05-18 09:26:54.267,25186.08,190 days,50964
39997,10000,2022-12-09 23:35:38,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,98.291723,-1.708277,Brake Replacement,Repairs,As needed,High,2023-05-08 11:05:08.267,9666.67,185 days,128343
39998,10000,2022-12-09 23:35:38,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,98.291723,-1.708277,Tire Rotation,Routine Maintenance,Every 3 months,Moderate,2022-11-29 09:07:50.267,11220.77,312 days,195133
39999,10000,2022-12-09 23:35:38,91.003646,41.064169,7,89.206413,35.449397,118.654604,-1.997325,1.726781,...,98.291723,-1.708277,Air Filter Replacement,Schedules,Every 6 months,Low,2023-10-28 09:54:21.267,40832.19,270 days,244183

In [28]:
combinedd_data.to_csv('combined_data.csv', index=False)